bin/
obj/
/packages/
/.idea/.idea.DDDInpractice/.idea/contentModel.xml
/.idea/.idea.DDDInpractice/.idea/encodings.xml
/.idea/.idea.DDDInpractice/.idea/indexLayout.xml
/.idea/.idea.DDDInpractice/.idea/modules.xml
/.idea/.idea.DDDInpractice/.idea/projectSettingsUpdater.xml
/.idea/.idea.DDDInpractice/riderModule.iml
/.idea/.idea.DDDInpractice/.idea/vcs.xml
